{% extends "/customer/base.html" %}
{% block content %}
<main>
    <h1>Welcome Customer </h1>
    <div class="card mt-5 ms-5 me-5 shadow-lg ">
        <div class="row m-3 gap-2">
            {% for i in cats %}
            <div class="col-3 card p-3" style="width: auto;">
                <b>{{i.name}}</b>
                <button class="btn btn-warning mt-2">Explore</button>
                
            </div>
            {% endfor %}
           
        </div>
    </div>
    <div class="card ms-5 me-5 mt-5">
        <div class="card-header">
            <h3>Bookings</h3>
        </div>
        <div class="card-body">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-Active" type="button" role="tab" aria-controls="pills-home"
                        aria-selected="true">Accpeted</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-Requested" type="button" role="tab" aria-controls="pills-profile"
                        aria-selected="false">Requested</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-Flagged" type="button" role="tab" aria-controls="pills-contact"
                        aria-selected="false">Other</button>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-Active" role="tabpanel"
                    aria-labelledby="pills-home-tab" tabindex="0">
                    {% if A_b %}
                    <table class="table">
                        <thead>
                            <tr>

                                <th scope="col">Professional Name</th>
                                <th scope="col">Plan Name</th>
                                <th scope="col">Address</th>
                                <th scope="col">Date</th>
                                <th scope="col">Time</th>
                                <th scope="col">Email</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in A_b %}

                            <tr>
                                <td>{{i.professional.name}}</td>
                                <td>{{i.service_plan.name}}</td>
                                <td>{{i.customer.address}}</td>
                                <td>{{i.date}}</td>
                                <td>{{i.time}}</td>
                                <td>{{i.professional.email}}</td>
                                <td>{{i.professional.phone}}</td>
                                <td>
                                    <button class="btn btn-primary" type="button" data-bs-toggle="modal"
                                        data-bs-target="#bdetail-{{i.id}}"><i class="bi bi-eye"></i></button>

                                    <div class="modal fade" id="bdetail-{{i.id}}" tabindex="-1"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Booking Detail
                                                    </h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="card p-5">
                                                        <p>Name: {{i.customer.name}}</p>
                                                        <p>Plan: {{i.service_plan.name}}</p>

                                                        <p>Address: {{i.customer.address}} </p>
                                                        <p>Phone: {{i.customer.phone}}</p>
                                                        <p>Email:{{i.customer.email}} </p>

                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    {% if i.status=="Done" %}
                                        <button class="btn btn-warning" data-bs-toggle="modal"
                                        data-bs-target="#close-{{i.id}}" >Close</button>
                                        <div class="modal fade" id="close-{{i.id}}" tabindex="-1"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Close Booking
                                                    </h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="card p-5">
                                                        <form action="/customer/dashboard?action=close&id={{i.id}}" method="POST">

                                                            <div class="form-floating mb-3">
                                                                
                                                                <select name="rating" class="form-control" required >
                                                                   
                                                                    <option>1</option>
                                                                    <option>2</option>
                                                                    <option>3</option>
                                                                    <option>4</option>
                                                                    <option>5</option>
                                                                </select>
                                                                <label>Rating</label>
                                                            </div>
                                                            <div class="form-floating">
                                                                <input type="text" class="form-control" id="floatingPassword" name="remark" placeholder="Password">
                                                                <label for="floatingPassword">Remark</label>
                                                            </div>
                                                        
                                                            <button type="submit" class="btn btn-warning" >Close</button>    
                                                          </form>

                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                        


                                </td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                    {% else %}
                    <p>No Active Bookings </p>
                    {% endif %}

                </div>
                <div class="tab-pane fade" id="pills-Requested" role="tabpanel" aria-labelledby="pills-profile-tab"
                    tabindex="0">
                    {% if R_b %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Customer Name</th>
                                <th scope="col">Plan Name</th>
                                <th scope="col">Address</th>
                                <th scope="col">Date</th>
                                <th scope="col">Time</th>
                                <th scope="col">Email</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for i in R_b %}

                            <tr>
                                <td>{{i.customer.name}}</td>
                                <td>{{i.service_plan.name}}</td>
                                <td>{{i.customer.address}}</td>
                                <td>{{i.date}}</td>
                                <td>{{i.time}}</td>
                                <td>{{i.customer.email}}</td>
                                <td>{{i.customer.phone}}</td>

                                <td>
                                    <button class="btn btn-primary" type="button" data-bs-toggle="modal"
                                        data-bs-target="#bdetail-{{i.id}}"><i class="bi bi-eye"></i></button>

                                    <div class="modal fade" id="bdetail-{{i.id}}" tabindex="-1"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Booking Detail
                                                    </h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="card p-5">
                                                        <p>Name: {{i.customer.name}}</p>
                                                        <p>Plan: {{i.service_plan.name}}</p>

                                                        <p>Address: {{i.customer.address}} </p>
                                                        <p>Phone: {{i.customer.phone}}</p>
                                                        <p>Email:{{i.customer.email}} </p>

                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-success" type="button" data-bs-toggle="modal"
                                        data-bs-target="#edit-{{i.id}}">Edit</button>
                                    <div class="modal fade" id="edit-{{i.id}}" tabindex="-1"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Edit
                                                    </h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    
                                                    <div>
                                                        <form action="/customer/dashboard?action=edit&id={{i.id}}"
                                                            method="POST">

                                                            <div class="form-floating mb-3">
                                                                <input type="date" class="form-control" id="floatingInput" name="new_date" placeholder="name@example.com">
                                                                <label for="floatingInput">Date</label>
                                                            </div>
                                                            <div class="form-floating">
                                                                <input type="time" class="form-control" id="floatingPassword" name="new_time" placeholder="Password">
                                                                <label for="floatingPassword">Time</label>
                                                            </div>
                                                            <div class="mt-3 text-center">
                                                                <button class="btn btn-warning"
                                                                    type="submit">Edit</button>
                                                            </div>
                                                        </form>
                                                        
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <button class="btn btn-danger" type="button" data-bs-toggle="modal"
                                        data-bs-target="#Cancel-{{i.id}}">Cancel</button>
                                    <div class="modal fade" id="Cancel-{{i.id}}" tabindex="-1"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Cancel
                                                    </h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Are you sure you want to cancel the booking?</p>
                                                    <div>
                                                        <form action="/customer/dashboard?action=cancel&id={{i.id}}"
                                                            method="POST">
                                                            <div class="mt-3 text-center">
                                                                <button class="btn btn-warning"
                                                                    type="submit">Cancel</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                    {% else %}
                    <p>No Requested Bookings </p>
                    {% endif %}

                </div>
                <div class="tab-pane fade" id="pills-Flagged" role="tabpanel" aria-labelledby="pills-contact-tab"
                    tabindex="0">
                    {% if O_b %}
                    <table class="table">
                        <thead>
                            <tr>

                                <th scope="col">Customer Name</th>
                                <th scope="col">Plan Name</th>
                                <th scope="col">Address</th>
                                <th scope="col">Date</th>
                                <th scope="col">Time</th>
                                <th scope="col">Email</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in O_b %}

                            <tr>
                                <td>{{i.customer.name}}</td>
                                <td>{{i.service_plan.name}}</td>
                                <td>{{i.customer.address}}</td>
                                <td>{{i.date}}</td>
                                <td>{{i.time}}</td>
                                <td>{{i.customer.email}}</td>
                                <td>{{i.customer.phone}}</td>
                                <td>
                                    <button class="btn btn-primary" type="button" data-bs-toggle="modal"
                                        data-bs-target="#bdetail-{{i.id}}"><i class="bi bi-eye"></i></button>

                                    <div class="modal fade" id="bdetail-{{i.id}}" tabindex="-1"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Booking Detail
                                                    </h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="card p-5">
                                                        <p>Name: {{i.customer.name}}</p>
                                                        <p>Plan: {{i.service_plan.name}}</p>

                                                        <p>Address: {{i.customer.address}} </p>
                                                        <p>Phone: {{i.customer.phone}}</p>
                                                        <p>Email:{{i.customer.email}} </p>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                    {% else %}
                    <p>No Other bookings</p>
                    <p>hello</p>
                    {% endif %}

                </div>

            </div>






        </div>

    </div>
</main>
{% endblock %}
